openapi: 3.0.3
info:
  title: Excelsior Deckbuilder API v1
  description: |
    External HTTP API for the Excelsior Overpower card database and deck builder.

    Stability: this is a stub spec. Paths and payloads are authoritative from
    [`API_V1.md`](../API_V1.md); this document is maintained alongside it so
    external clients can generate SDKs. Any new `/api/v1` route must add an
    entry here, an error-catalog entry, and a changelog entry in the same PR.

    Contract highlights:

      - Responses use the v1 envelope `{ data, meta, errors }`.
      - Authentication is `Bearer <accessToken>` JWT (see `/auth/login`).
      - Refresh tokens rotate on `/auth/refresh`; reuse revokes the family.
      - Rate limits are per-user (or per-IP for unauthenticated calls). See
        `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset`.
      - Catalog endpoints are edge-cached with `Cache-Control` + `ETag`; clients
        SHOULD send `If-None-Match` to get `304 Not Modified`.
      - Images are served from `APP_CDN_BASE` over HTTPS. See
        [`API_V1_IMAGE_CONTRACT.md`](current/API_V1_IMAGE_CONTRACT.md).
  version: 1.0.0
  contact:
    name: Excelsior
    url: https://excelsior.cards

servers:
  - url: https://excelsior.cards
    description: Production
  - url: http://localhost:8085
    description: Local development

security:
  - bearerAuth: []

tags:
  - name: Auth
    description: Login, refresh, logout, and current user.
  - name: Catalog
    description: Global-GET card catalog endpoints. Edge-cached.
  - name: DBV Support
    description: Sets, deck backgrounds, and other DBV lookup data.
  - name: Decks
    description: User deck CRUD. Accepts session cookie OR Bearer JWT.
  - name: Collections
    description: User card collections. Accepts session cookie OR Bearer JWT.
  - name: Guest Decks
    description: Session-scoped in-memory decks for GUEST users.
  - name: Feedback
    description: Authenticated in-app bug reports and feature/change requests.
  - name: Config
    description: Public app configuration (CDN base, etc.). No auth required.
  - name: Admin
    description: ADMIN-only operations.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Envelope:
      type: object
      properties:
        data:
          nullable: true
        meta:
          $ref: '#/components/schemas/Meta'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorBody'
      required: [data, meta, errors]
    Meta:
      type: object
      properties:
        requestId:
          type: string
        catalogDataVersion:
          type: integer
          minimum: 0
          description: Monotonic version for all catalog/DBV responses. Bumps on re-ingest.
        catalogLastUpdated:
          type: string
          format: date-time
    ErrorBody:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Stable error code. See API_V1_ERROR_CATALOG.md.
        message:
          type: string
        field:
          type: string
          description: Present for VALIDATION_ERROR.
    LoginRequest:
      type: object
      required: [identifier, password]
      properties:
        identifier:
          type: string
          description: Username or email.
        password:
          type: string
    LoginSuccess:
      type: object
      required: [accessToken, expiresInSeconds, user]
      properties:
        accessToken:
          type: string
        expiresInSeconds:
          type: integer
        refreshToken:
          type: string
        refreshExpiresInSeconds:
          type: integer
        user:
          $ref: '#/components/schemas/User'
    RefreshRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string
    LogoutRequest:
      type: object
      properties:
        refreshToken:
          type: string
    User:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        role:
          type: string
          enum: [ADMIN, USER, GUEST]
    FeedbackRequest:
      type: object
      additionalProperties: false
      required: [category, message]
      properties:
        category:
          type: string
          enum: [bug, feature]
        message:
          type: string
          minLength: 1
          maxLength: 4000
    FeedbackAccepted:
      type: object
      required: [submitted]
      properties:
        submitted:
          type: boolean
          enum: [true]
    CatalogCharacterItem:
      type: object
      required: [id, name, set, energy, combat, brute_force, intelligence, threat_level, image, image_path, is_foil]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        set: { type: string }
        set_number: { type: string, nullable: true }
        rarity: { type: string, nullable: true }
        energy: { type: integer }
        combat: { type: integer }
        brute_force: { type: integer }
        intelligence: { type: integer }
        threat_level: { type: integer }
        special_abilities: { type: string }
        image: { type: string }
        image_path: { type: string }
        is_foil: { type: boolean }
    CatalogLocationItem:
      type: object
      required: [id, name, threat_level, image, image_path]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        threat_level: { type: integer }
        special_ability: { type: string }
        image: { type: string }
        image_path: { type: string }
        set: { type: string }
        set_number: { type: string, nullable: true }
        rarity: { type: string, nullable: true }
    CatalogSpecialCardItem:
      type: object
      description: |
        Shared shape for special-cards, events, aspects, advanced-universe,
        teamwork, ally-universe, training, and basic-universe endpoints.
      required: [id, name, image, image_path]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        character: { type: string }
        card_effect: { type: string }
        image: { type: string }
        image_path: { type: string }
        set: { type: string }
        set_number: { type: string, nullable: true }
        rarity: { type: string, nullable: true }
        icons: { type: array, items: { type: string } }
        value: { type: integer, nullable: true }
        is_cataclysm: { type: boolean }
        is_assist: { type: boolean }
        is_ambush: { type: boolean }
        one_per_deck: { type: boolean }
        icon_offensive_swords: { type: boolean }
        icon_defensive_shield: { type: boolean }
        icon_remainder_of_battle: { type: boolean }
        icon_remainder_of_game: { type: boolean }
        icon_attached_paperclip: { type: boolean }
        icon_astral_plane: { type: boolean }
        icon_first_action_only: { type: boolean }
        banned: { type: boolean }
        is_foil: { type: boolean }
    CatalogMissionItem:
      type: object
      required: [id, mission_set, card_name, name, image, image_path]
      properties:
        id: { type: string, format: uuid }
        mission_set: { type: string }
        card_name: { type: string }
        name: { type: string }
        image: { type: string }
        image_path: { type: string }
        set: { type: string }
        set_number: { type: string, nullable: true }
        rarity: { type: string, nullable: true }
    CatalogPowerCardItem:
      type: object
      required: [id, name, power_type, value, image, image_path, one_per_deck, is_foil]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        power_type: { type: string, enum: [Energy, Combat, 'Brute Force', Intelligence, Any-Power, Multi-Power] }
        value: { type: integer }
        image: { type: string }
        image_path: { type: string }
        set: { type: string }
        set_number: { type: string, nullable: true }
        rarity: { type: string, nullable: true }
        set_name: { type: string }
        one_per_deck: { type: boolean }
        is_foil: { type: boolean }
    CatalogFoilCardMapItem:
      type: object
      required: [foilCardId, baseCardId, cardType]
      properties:
        foilCardId: { type: string, format: uuid }
        baseCardId: { type: string, format: uuid }
        cardType: { type: string }
    DeckMetadata:
      type: object
      required: [id, name, userId, isOwner]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        created: { type: string, format: date-time }
        lastModified: { type: string, format: date-time }
        cardCount: { type: integer }
        threat: { type: integer }
        is_valid: { type: boolean }
        userId: { type: string, format: uuid }
        uiPreferences: { type: object, nullable: true, additionalProperties: true }
        isOwner: { type: boolean }
        is_limited: { type: boolean }
        reserve_character: { type: string, format: uuid, nullable: true }
        display_mission_card_id: { type: string, format: uuid, nullable: true }
        background_image_path: { type: string }
    DeckCardEntry:
      type: object
      required: [id, type, cardId, quantity]
      properties:
        id: { type: string, format: uuid }
        type: { type: string }
        cardId: { type: string, format: uuid }
        quantity: { type: integer, minimum: 1 }
        exclude_from_draw: { type: boolean }
    CollectionCardRow:
      type: object
      properties:
        card_id: { type: string, format: uuid }
        card_type: { type: string }
        quantity: { type: integer }
        image_path: { type: string }
    Deck:
      type: object
      additionalProperties: true
    Card:
      type: object
      additionalProperties: true
  parameters:
    SinceVersion:
      in: query
      name: since_version
      required: false
      schema:
        type: integer
        minimum: 0
      description: |
        If supplied, the server MAY return only rows changed after this
        `catalogDataVersion`. Response `meta.catalogDataVersion` is always the
        current server value.
    IfNoneMatch:
      in: header
      name: If-None-Match
      required: false
      schema:
        type: string
      description: |
        Standard HTTP conditional GET. If the client's ETag matches the current
        catalog ETag, the server returns `304 Not Modified`.

paths:
  /api/v1/auth/login:
    post:
      tags: [Auth]
      summary: Log in and obtain access + refresh tokens.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login success.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LoginSuccess'
        '401':
          description: Invalid credentials.
        '429':
          description: Rate limited.
  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      summary: Rotate the refresh token and receive a new access+refresh pair.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: Rotation success.
        '401':
          description: Refresh token invalid, expired, or revoked.
  /api/v1/auth/logout:
    post:
      tags: [Auth]
      summary: Revoke the provided refresh token (if any).
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutRequest'
      responses:
        '200':
          description: Logout acknowledged.
  /api/v1/auth/me:
    get:
      tags: [Auth]
      summary: Current user.
      responses:
        '200':
          description: User envelope.
        '401':
          description: Not authenticated.
  /api/v1/users/change-email:
    post:
      tags: [Users]
      summary: Change the authenticated user's email.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200':
          description: Email updated.
        '400':
          description: Validation error (EMAIL_INVALID, EMAIL_UNCHANGED, etc.).
        '403':
          description: Forbidden (GUEST or GOOGLE_EMAIL_LOCKED).
        '409':
          description: EMAIL_TAKEN.
  /api/v1/users/change-password:
    post:
      tags: [Users]
      summary: Change the authenticated user's password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newPassword, confirmPassword]
              properties:
                newPassword: { type: string }
                confirmPassword: { type: string }
      responses:
        '200':
          description: Password updated.
        '400':
          description: PASSWORD_MISMATCH or validation error.
        '403':
          description: Forbidden (GUEST or GOOGLE_PASSWORD_LOCKED).
  /api/v1/feedback:
    post:
      tags: [Feedback]
      summary: Submit a bug report or feature/change request.
      description: Session-authenticated. Accepts GUEST, USER, and ADMIN roles. Limited to five submissions per user per minute.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackRequest'
      responses:
        '202':
          description: Feedback accepted and delivered.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties:
                      data:
                        $ref: '#/components/schemas/FeedbackAccepted'
        '400':
          description: VALIDATION_ERROR.
        '401':
          description: UNAUTHORIZED.
        '429':
          description: RATE_LIMITED.
        '500':
          description: FEEDBACK_DELIVERY_ERROR.
  /api/v1/catalog/characters:
    get:
      tags: [Catalog]
      summary: All characters.
      parameters:
        - $ref: '#/components/parameters/SinceVersion'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: OK — full character array.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/CatalogCharacterItem' }
        '304': { description: Not Modified (ETag match) }
        '401': { description: Unauthenticated }
  /api/v1/catalog/locations:
    get:
      tags: [Catalog]
      summary: All locations.
      responses:
        '200':
          description: OK — full location array.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/CatalogLocationItem' }
        '304': { description: Not Modified }
        '401': { description: Unauthenticated }
  /api/v1/catalog/special-cards:
    get:
      tags: [Catalog]
      summary: All special cards.
      responses:
        '200':
          description: OK — full special-card array.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/CatalogSpecialCardItem' }
        '304': { description: Not Modified }
        '401': { description: Unauthenticated }
  /api/v1/catalog/missions:
    get:
      tags: [Catalog]
      summary: All missions.
      responses:
        '200':
          description: OK — full mission array.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/CatalogMissionItem' }
        '304': { description: Not Modified }
        '401': { description: Unauthenticated }
  /api/v1/catalog/events:
    get:
      tags: [Catalog]
      summary: All events (same item shape as special-cards).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/CatalogSpecialCardItem' }
        '304': { description: Not Modified }
        '401': { description: Unauthenticated }
  /api/v1/catalog/aspects:
    get:
      tags: [Catalog]
      summary: All aspects (same item shape as special-cards).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/CatalogSpecialCardItem' }
        '304': { description: Not Modified }
        '401': { description: Unauthenticated }
  /api/v1/catalog/advanced-universe:
    get:
      tags: [Catalog]
      summary: 'Universe: Advanced cards.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/CatalogSpecialCardItem' }
        '304': { description: Not Modified }
        '401': { description: Unauthenticated }
  /api/v1/catalog/teamwork:
    get:
      tags: [Catalog]
      summary: 'Universe: Teamwork cards.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/CatalogSpecialCardItem' }
        '304': { description: Not Modified }
        '401': { description: Unauthenticated }
  /api/v1/catalog/ally-universe:
    get:
      tags: [Catalog]
      summary: 'Universe: Ally cards.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/CatalogSpecialCardItem' }
        '304': { description: Not Modified }
        '401': { description: Unauthenticated }
  /api/v1/catalog/training:
    get:
      tags: [Catalog]
      summary: 'Universe: Training cards.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/CatalogSpecialCardItem' }
        '304': { description: Not Modified }
        '401': { description: Unauthenticated }
  /api/v1/catalog/basic-universe:
    get:
      tags: [Catalog]
      summary: 'Universe: Basic cards.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/CatalogSpecialCardItem' }
        '304': { description: Not Modified }
        '401': { description: Unauthenticated }
  /api/v1/catalog/power-cards:
    get:
      tags: [Catalog]
      summary: All power cards.
      responses:
        '200':
          description: OK — full power-card array.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/CatalogPowerCardItem' }
        '304': { description: Not Modified }
        '401': { description: Unauthenticated }
  /api/v1/catalog/foil-card-map:
    get:
      tags: [Catalog]
      summary: Map of foil card IDs to base card IDs.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/CatalogFoilCardMapItem' }
        '304': { description: Not Modified }
        '401': { description: Unauthenticated }
  /api/v1/dbv/sets:
    get:
      tags: [DBV Support]
      summary: All sets.
      responses: { '200': { description: OK }, '304': { description: Not Modified } }
  /api/v1/dbv/deck-backgrounds:
    get:
      tags: [DBV Support]
      summary: Available deck background image paths.
      responses: { '200': { description: OK } }
  /api/v1/decks:
    get:
      tags: [Decks]
      summary: List my decks.
      responses: { '200': { description: OK } }
    post:
      tags: [Decks]
      summary: Create a deck.
      responses: { '200': { description: OK }, '400': { description: Validation error } }
  /api/v1/decks/stats:
    get:
      tags: [Decks]
      summary: Summary stats for my decks.
      responses: { '200': { description: OK } }
  /api/v1/decks/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      tags: [Decks]
      summary: Get a single deck.
      responses: { '200': { description: OK }, '404': { description: Not found } }
    put:
      tags: [Decks]
      summary: Update a deck.
      responses: { '200': { description: OK }, '400': { description: Validation error } }
    delete:
      tags: [Decks]
      summary: Delete a deck.
      responses: { '200': { description: OK } }
  /api/v1/decks/{id}/cards:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      tags: [Decks]
      summary: Cards in a deck.
      responses: { '200': { description: OK } }
    post:
      tags: [Decks]
      summary: Add cards to a deck.
      responses: { '200': { description: OK } }
    put:
      tags: [Decks]
      summary: Replace cards in a deck.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cards]
              properties:
                cards:
                  type: array
                  maxItems: 100
                  items:
                    type: object
                    required: [cardType, cardId, quantity]
                    properties:
                      cardType: { type: string }
                      cardId: { type: string }
                      quantity: { type: integer, minimum: 1, maximum: 100 }
                      displayOrder: { type: integer, minimum: 0, maximum: 99 }
                      exclude_from_draw: { type: boolean }
      responses: { '200': { description: OK } }
    delete:
      tags: [Decks]
      summary: Remove a card from a deck.
      responses: { '200': { description: OK } }
  /api/v1/decks/{id}/full:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      tags: [Decks]
      summary: Deck with cards and UI preferences.
      responses: { '200': { description: OK } }
  /api/v1/decks/{id}/ui-preferences:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      tags: [Decks]
      summary: Get UI preferences for a deck.
      responses: { '200': { description: OK } }
    put:
      tags: [Decks]
      summary: Update UI preferences for a deck.
      responses: { '200': { description: OK } }
  /api/v1/collections/me:
    get:
      tags: [Collections]
      summary: My collection summary.
      responses: { '200': { description: OK } }
  /api/v1/collections/me/cards:
    get:
      tags: [Collections]
      summary: All cards in my collection.
      responses: { '200': { description: OK } }
    post:
      tags: [Collections]
      summary: Add a card to my collection.
      responses: { '200': { description: OK } }
  /api/v1/collections/me/history:
    get:
      tags: [Collections]
      summary: Collection change history.
      responses: { '200': { description: OK } }
  /api/v1/collections/me/cards/remove-one:
    post:
      tags: [Collections]
      summary: Remove one copy of a card.
      responses: { '200': { description: OK } }
  /api/v1/collections/me/cards/{cardId}:
    parameters:
      - in: path
        name: cardId
        required: true
        schema: { type: string }
    put:
      tags: [Collections]
      summary: Replace the row for a card.
      responses: { '200': { description: OK } }
    delete:
      tags: [Collections]
      summary: Remove all copies of a card.
      responses: { '200': { description: OK } }
  /api/v1/decks/validate:
    post:
      tags: [Decks]
      summary: Validate a deck without saving.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cards]
              properties:
                cards:
                  type: array
                  items: { $ref: '#/components/schemas/DeckCardEntry' }
      responses:
        '200': { description: Valid deck }
        '400': { description: Validation errors in data.validationErrors }
  /api/v1/guest/decks:
    get:
      tags: [Guest Decks]
      summary: List guest session decks (merged with DB decks for guest user).
      responses: { '200': { description: OK }, '401': { description: Unauthenticated }, '403': { description: Not GUEST role } }
    post:
      tags: [Guest Decks]
      summary: Create a new guest deck (in-memory, session-scoped).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                description: { type: string }
      responses: { '201': { description: Created }, '401': { description: Unauthenticated }, '403': { description: Not GUEST role } }
  /api/v1/guest/decks/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      tags: [Guest Decks]
      summary: Get a single guest deck.
      responses: { '200': { description: OK }, '404': { description: Not found } }
    put:
      tags: [Guest Decks]
      summary: Update name / description of a guest deck.
      responses: { '200': { description: OK } }
    delete:
      tags: [Guest Decks]
      summary: Delete a guest deck.
      responses: { '200': { description: OK } }
  /api/v1/guest/decks/{id}/cards:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    put:
      tags: [Guest Decks]
      summary: Replace all cards in a guest deck.
      responses: { '200': { description: OK } }
    post:
      tags: [Guest Decks]
      summary: Add a card to a guest deck.
      responses: { '200': { description: OK } }
  /api/v1/config/app:
    get:
      tags: [Config]
      summary: Public app configuration (CDN base URL).
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cdnBase: { type: string, description: Base URL for CDN-served static assets. }
  /api/v1/admin/users:
    get:
      tags: [Admin]
      summary: List all users.
      responses: { '200': { description: OK }, '403': { description: Not ADMIN } }
    post:
      tags: [Admin]
      summary: Create a user.
      responses: { '201': { description: Created }, '403': { description: Not ADMIN } }
  /api/v1/admin/user-analytics:
    get:
      tags: [Admin]
      summary: Get aggregate user, deck, and collection analytics.
      description: ADMIN-only. Excludes utility accounts and returns no user identifiers.
      responses:
        '200':
          description: Aggregate user, deck, and collection analytics snapshot.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required: [generatedAt, acquisitionPeriodStart, standardUserAccounts, newStandardAccounts, loggedInLast30Days, googleAuthUsers, recordedLoginUsers, signupMonths, loginRecency, deckStatistics, collectionStatistics]
                    properties:
                      generatedAt: { type: string, format: date-time }
                      acquisitionPeriodStart: { type: string, format: date-time }
                      standardUserAccounts: { type: integer }
                      newStandardAccounts: { type: integer }
                      loggedInLast30Days:
                        type: object
                        properties:
                          count: { type: integer }
                          percentage: { type: integer }
                      googleAuthUsers:
                        type: object
                        properties:
                          count: { type: integer }
                          percentage: { type: integer }
                      recordedLoginUsers: { type: integer }
                      signupMonths:
                        type: array
                        items:
                          type: object
                          properties:
                            month: { type: string, example: '2026-08' }
                            count: { type: integer }
                            recent: { type: boolean }
                            partial: { type: boolean }
                      loginRecency:
                        type: array
                        items:
                          type: object
                          properties:
                            key: { type: string }
                            label: { type: string }
                            count: { type: integer }
                      deckStatistics:
                        type: object
                        required: [totalDecks, legalDecks, legalPercentage, limitedDecks, limitedPercentage, averageDecksPerUser, averageLegalDecksPerUser]
                        properties:
                          totalDecks: { type: integer }
                          legalDecks: { type: integer }
                          legalPercentage: { type: number, format: float }
                          limitedDecks: { type: integer }
                          limitedPercentage: { type: number, format: float }
                          averageDecksPerUser: { type: number, format: float }
                          averageLegalDecksPerUser: { type: number, format: float }
                      collectionStatistics:
                        type: object
                        required: [usersWithNonZeroCollections, adoptionPercentage, averageCardsPerUser, averageCardsPerCollector]
                        properties:
                          usersWithNonZeroCollections: { type: integer }
                          adoptionPercentage: { type: number, format: float }
                          averageCardsPerUser: { type: number, format: float }
                          averageCardsPerCollector: { type: number, format: float }
        '403': { description: Not ADMIN (ADMIN_REQUIRED) }
        '500': { description: Analytics query failed (ADMIN_USER_ANALYTICS_ERROR) }
  /api/v1/admin/debug/clear-cache:
    get:
      tags: [Admin]
      summary: Clear the catalog cache.
      responses: { '200': { description: OK }, '403': { description: Not ADMIN } }
  /api/v1/admin/debug/clear-card-cache:
    get:
      tags: [Admin]
      summary: Clear the card cache.
      responses: { '200': { description: OK }, '403': { description: Not ADMIN } }
  /api/v1/admin/database/status:
    get:
      tags: [Admin]
      summary: Database status and Flyway migration info.
      responses: { '200': { description: OK }, '403': { description: Not ADMIN } }

# NOTE: keep this file updated whenever /api/v1 endpoints change.
